<div class="list-group rounded-0">
    <a (click)="userSelected.emit(null); currentUserChat = null"
        [ngClass]="currentUserChat === null ? 'user-list-active' : ''"
        class="list-group-item list-group-item-action text-muted rounded-0 mb-1">
        <div class="media">
            <mat-icon>group</mat-icon>
            <div class="media-body ml-4">
                <div class="d-flex align-items-center justify-content-between mb-1">
                    <h4 class="mb-0">Public Group</h4>
                    <small class="small font-weight-bold">
                        {{ lastInteraction || 'Never' }}
                    </small>
                </div>
                <p class="font-italic mb-0 text-small">Users Online: {{ usersCount }}</p>
            </div>
        </div>
    </a>
    <a (click)="userSelected.emit(user); currentUserChat = user" *ngFor="let user of usersList"
        [ngClass]="currentUserChat === user ? 'user-list-active' : ''"
        class="list-group-item list-group-item-action text-muted rounded-0 mb-1">
        <div class="media">
            <img src="https://storage.deepmedia.dev.com/MjWkc4qXcxodYil5bkGWLqwMHatCZ6N9Vu6j058U.png" alt="user"
                width="50" class="rounded-circle">
            <div class="media-body ml-4">
                <div class="d-flex align-items-center justify-content-between mb-1">
                    <h4 class="mb-0">{{ user.name }}</h4>
                    <small class="small font-weight-bold">
                        {{ user.updated_at | agoDate }}
                    </small>
                </div>
                <p class="font-italic mb-0 text-small">{{ user.email }}</p>
            </div>
        </div>
    </a>
</div>